
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptocurrencyTracking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h2 style="text-align:center">Login</h2>
            <div class="row">
                <div class="col">

                    <input type="text" id="username" placeholder="Username" required>
                    <input type="password" id="password" placeholder="Password" required>
                    <input type="submit" value="Login" onclick="submitOnClick(this.val)">
                </div>
            </div>
    </div>

    <style>

        .container {
            padding: 160px;
            background-color: white;
        }

        input,
        .btn {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            opacity: 0.85;
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
        }

            input[type=submit] {
                background-color: #04AA6D;
                color: white;
                cursor: pointer;
            }

        .col {
            float: left;
            width: 50%;
            margin: auto;
            padding: 0 50px;
            margin-top: 6px;
        }

        .hide-md-lg {
            display: none;
        }
    </style>

    <script type="text/javascript">
        submitOnClick = function (el) {

            let formData = {
                username: $("#username").val(),
                password: $("#password").val()
            }
            var settings = {
                "async": true,
                "url": '/api/login',
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache"
                },
                "data": JSON.stringify(formData)
            }
            $.ajax(settings).done(function (response) {
                console.log(response);
                if (response) {
                    window.location = ("https://localhost:5001/CryptocurrencyTracking/Index");
                }
                else {
                    alert("ติดต่อผู้ดูแลระบบ");
                }
            });
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>