@model IEnumerable<CryptocurrencyTracking.Models.Coins>;
@{
    ViewData["Title"] = "Trade";
}

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h1 class="display-4">Today's Cryptocurrency Prices </h1>
            <p>
                The global crypto market cap is $1.18T, a 2.52% decrease over the last day.
            </p>
        </div>
        <div class="card">
            <div class="wrapper">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td></td>
                        <td>Price</td>
                        <td>Change</td>
                        <td>Market cap</td>
                        <td>Watch</td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src=@Html.DisplayFor(modelItem => item.iconUrl ) width=35 height=35 />
                            </td>
                            <td>
                                <h5><a href=@Html.DisplayFor(modelItem => item.coinrankingUrl)>@Html.DisplayFor(modelItem => item.name)</a></h5>
                                <h6><a href=@Html.DisplayFor(modelItem => item.coinrankingUrl)>@Html.DisplayFor(modelItem => item.symbol)</a></h6>
                            </td>
                            <td>
                                <a href=@Html.DisplayFor(modelItem => item.coinrankingUrl)>$@Html.DisplayFor(modelItem => item.price)</a>
                            </td>
                            <td>
                                <a href=@Html.DisplayFor(modelItem => item.coinrankingUrl)>@Html.DisplayFor(modelItem => item.change)%</a>
                            </td>
                            <td>
                                <a href=@Html.DisplayFor(modelItem => item.coinrankingUrl)>$@Html.DisplayFor(modelItem => item.marketCap)</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .leftcolumn {
        float: left;
        width: 100%;
    }

    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>